@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: hsl(210, 46%, 95%);
    font-family: "Manrope", serif;
}

.article-main {
    width: 20.575rem;
    /* height: 700px; */
    
    background-color: hsl(0, 0%, 100%);
    /* display: flex; */
    border-radius: 1rem;
    overflow: hidden;
}

.article-ilustracao {
    background-image: url(../images/drawers.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 20.575rem;
    height: 210px;
}

.article-section {
    width: 100%;
    padding: 1.7rem 1.5rem 0 1.7rem;
  
}

.article-title{
    color: hsl(217, 19%, 35%);
    font-size: .93rem;
    
}
.article-paragraph{
    margin-top: 1rem;
    color: hsl(214, 17%, 51%);
    font-size: .81rem;
}
.apaga{
    display: none;
}

.article-footer-conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    margin-top: 1rem;
    /* background-color: aqua; */
    margin-bottom: 1rem;
}

.article-footer {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: hsl(217, 19%, 35%);
    /* background-color: aqua; */
}
.nome-usuario{
    color: hsl(217, 19%, 35%);
    font-weight: 700;
    font-size: .81rem;
}
.article-footer span{
    color: hsl(214, 17%, 51%);
}

.article-footer-avatar {
    background: url(../images/avatar-michelle.jpg) center center no-repeat;
    background-size: cover;
    width: 52px;
    height: 52px;
    border-radius: 50%;
}
.article-footer p {
    display: flex;
    flex-direction: column;
}
.attribution {
    font-size: 11px;
    text-align: center;
}

.share {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 2rem;
    background-color: hsl(210, 46%, 95%);

    display: flex;
    align-items: center;
    justify-content: center;
    left: 0px;
    right: -10px;
    /* margin-top: 0px; */
    cursor: pointer;
}

.share::after {
    content: "";
    position: absolute;
    width: 50%; 
    height: 60%; 
    background-image: url(../images/icon-share.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    
}

.share-moble{
    background-color: hsl(217, 19%, 35%);
    width: 20.575rem;
    height: 78px;
    z-index: ;
    bottom: 97px;
    position: absolute;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
    /* display: none; */
}
.modal{
    display: none;
}
.box-share-icon{
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.box-share-icon p {
    color: hsl(212, 23%, 69%);
}

.box-share-icon img {
    width: 26px;
}

@media (min-width: 430px){
    .share-moble{
        bottom: 97px;
        background-color: aqua;
    }
}
@media (min-width: 768px){
    body{
        background-color: rgb(48, 102, 102);
    }
    .article-main{
        display: flex;
        width: 38.413rem;
    }
    .article-ilustracao{
        width: 21.138rem;
        height: 100%;
    }
    .article-section{
        /* background-color: blueviolet; */
        width: 27.063rem;
    }
    .share-moble{
        display: none;
    }

    .modal{
        display: flex;
        position: absolute;
        z-index: 1;
        left: 31.25rem;
        right: 0px;
        margin-top: -115px;
        
        /* display: none; */
    }
    .box {
        position: relative;
        background-color: hsl(217, 19%, 35%);
        color: white;
        padding: 20px;
        width: 300px;
        text-align: center;
        border-radius: 8px; 
        margin: 10px auto; 
        margin-top: -30px;
        
      }
      
      .box::after {
        content: ""; 
        position: absolute; 
        bottom: -17px; 
        left: 50%;
        transform: translateX(-50%); 
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 20px solid hsl(217, 19%, 35%);
        margin: 0 auto;
       
      }
    
      .box-share-icon{
        display: flex;
        align-items: center;
        justify-content: center;
        
        gap: 2rem;
      }
    
      .box-share-icon p {
        color: hsl(212, 23%, 69%);
      }
}

@media (min-width: 1024px){
    .modal{
        left: 32.95rem;
    }
}
/*
.article-title {
    width: 450px;
    word-spacing: 0.3rem;
    color: hsl(217, 19%, 35%);
    
}

.article-paragraph {
    color: hsl(217, 19%, 35%);
    margin-top: 1rem;
    font-size: 1rem;
}

.article-footer-conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    margin-top: 2rem;
}

.article-footer {
    display: flex;
    gap: 1rem;
}
.article-footer-avatar {
    background: url(../images/avatar-michelle.jpg) center center no-repeat;
    background-size: cover;
    width: 52px;
    height: 52px;
    border-radius: 50%;
}

.article-footer p {
    display: flex;
    flex-direction: column;
}
.attribution {
    font-size: 11px;
    text-align: center;
}

.share {
    position: relative;
    width: 45px;
    height: 45px;
    border-radius: 2rem;
    background-color: hsl(210, 46%, 95%);

    display: flex;
    align-items: center;
    justify-content: center;
    left: 0px;
    right: -10px;
    margin-top: 20px;
    cursor: pointer;
}

.share::after {
    content: "";
    position: absolute;
    width: 50%; 
    height: 60%; 
    background-image: url(../images/icon-share.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    
}

.share.ativo{
    background-color: hsl(217, 19%, 35%);
    color: hsl(210, 46%, 95%);
}

.share.ativo::after
{
    content: "";
    position: absolute;
    width: 50%; 
    height: 60%; 
    background-image: url(../images/icon-share-branco.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.modal{
    display: ;
    position: absolute;
    z-index: 1;
    left: 770px;
    right: 0px;
    margin-top: -90px;
    
    display: none;
}
.box {
    position: relative;
    background-color: hsl(217, 19%, 35%);
    color: white;
    padding: 20px;
    width: 300px;
    text-align: center;
    border-radius: 8px; 
    margin: 10px auto; 
    margin-top: -30px;
    
  }
  
  .box::after {
    content: ""; 
    position: absolute; 
    bottom: -17px; 
    left: 50%;
    transform: translateX(-50%); 
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid hsl(217, 19%, 35%);
    margin: 0 auto;
   
  }

  .box-share-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    
    gap: 2rem;
  }

  .box-share-icon p {
    color: hsl(212, 23%, 69%);
  }
  .share-moble{
    display: none;
  }
 */
  
  
.attribution a {
    color: hsl(228, 45%, 44%);
}
